.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin-bottom: 10px;
}

.modal-buttons {
  display:grid;
  justify-content: center;
  gap: 10px;
  
}

.close-button,
.play-again-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 200px; 
  height: 40px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.close-button {
  background-color: #f44336;
  color: white;
}

.close-button:hover {
  background-color: #d32f2f;
}

.play-again-button {
  background-color: #4caf50;
  color: white;
}

.play-again-button:hover {
  background-color: #388e3c;
}
