.signup-page {
  background-image: url('https://i.imghippo.com/files/NzMU2746Gqk.gif');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.signup-container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px; 
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.signup-title {
  font-size: 2rem;
  font-family: Arial, sans-serif;
  color: #000;
  margin-bottom: 20px;
}

.signup-form label {
  display: block;
  text-align: left;
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #ffcc00;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.login-link {
  font-size: 0.9rem;
  color: #555;
  margin-top: 15px;
}

.login-link-text {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
}


@media (max-width: 768px) {
  .signup-container {
    padding: 30px;
    max-width: 90%;
  }

  .signup-title {
    font-size: 1.8rem;
  }

  .signup-form label {
    font-size: 0.9rem;
  }

  .signup-form input, .signup-button {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .signup-container {
    padding: 20px;
    max-width: 100%;
  }

  .signup-title {
    font-size: 1.6rem;
  }

  .signup-form label {
    font-size: 0.8rem;
  }

  .signup-form input, .signup-button {
    font-size: 0.8rem;
  }
}
